* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: var(--font-lato);
}



.header-comp{
    display: flex;
    flex-direction:column;
    margin-top: 10vh;
    margin-left: 10%;
    margin-right: 10%;
    /* justify-content:center;
   
    width: 100%; */
    display: none;
    
    
}
.line-top1{
    
    display: flex;
    
    justify-content: space-between;   
   
   
   
    
}
.logo1 {
    width: 400px;
    
}
.right1{
    display: flex;
   
    
}
.logo2{
    width: 100px;
}
.g20-extension
{
    display:flex;
    flex-direction: column;
    margin-left: 15px;
    width:250px;
    
}
.line-top2{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.a3{
    
    justify-content: space-between;
   
}
.screen-mode{
    display: flex;
    justify-content: space-between;
    width:35px;
   
   
}
.A1{
    
    border:2px solid blue;
    border-radius: 3px;
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
    font-weight: lighter;
    font-size: small;

}
.A2{
   
    border:1px solid blue;
    background-color: blue;
    border-radius: 3px;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    color: white;
    font-size: small;

}
.hindi{
    font-size:14px;
}
.line1{margin-top: 10px;}
.line-bottom2{
    display: flex;
    font-size: 10px;
    justify-content: space-between;
    margin-top: 10px;
   
}
.line-bottom2 a{
    color: gray;

}
.icon1{
    width: 20px;
    margin-left: 10px;
    margin-top: 10px;
}
.line2{
    margin-top: 10px;
    color: black;
    border:1px solid black
    
   
}
.line-bottom1{
   
    margin-top: 20px;
    width: 100%;
}
.navbar1 ul{
    display:flex;

    margin-top: 1px;
   
    
}

.navbar1 ul li{
    list-style:none;
}
    
.navbar1 ul li a{
    color:gray;
    font-size:15px;
    
    display:block;
    
    text-decoration: none;
    
    
}
.navbar1 ul li a:hover{
    text-decoration: underline;
}
#horizantal{
    padding-left: 20px;
    padding-right: 30px;



}


.fa {
    padding-top: 20px;
    size:20px;
    cursor: pointer;

}
.fas{
    padding-left: 4px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-left: -120px;
    width:120%;
   
}
.menu-item{
    font-size: 14px;
    position: relative;
    
    color: rgb(24, 24, 24);
   
  
}
.menu-item:hover{
    background-color:silver;
   
    border: 1px solid silver;
}
.drop{
    display: none;
}
.drop ul{
    display: block;
    margin: 10px;
   
}
.drop ul li{
    padding: 5px;
    margin-left: 2px;
    width:fit-content;
    font-size: 16px;
}
.icon-down{
    display: flex;
    margin: 0px 5px;
}
.icon-down img{
    margin-left: 4px;
}
.drop ul li a{
    color: black;
   
}
.menu-item a{
    color: black;
}
.drop ul li:hover{
    font-weight: bold;
    border: 2px solid silver;
    display: block;
    

}
.dropdrop-down ul li{
    width:150px;
    font-weight: normal;
}


.menu-item a:hover{
    font-weight: bold;
}
.dropdrop-down ul li:hover{
    /* font-weight: bold; */
    border: 2px solid silver;

}
.dropdrop-down ul li:hover .drop{
    display: block;
}
.dropdrop-down{
    display:none;
}
.drop ul li:hover .dropdrop-down{
    display: block;
    top:20px;
    position: absolute;
    left: 110px;
    margin-left: 60px;
   
    background-color:silver;

}
.menu-item:hover .drop{
    display: block;

}



.header-mob{
    margin-top: 15vh;
    display: flex;
    width: 100%;
   
    align-items: flex-start;

}
.hamburger{
    margin-top:15px;
    width:5%;
    height: 50px;
    background-color: white;
    border:1px solid white;
}
.fa{
    padding-top: 0px;
    margin-bottom: 30px;
}
#bars{
    font-size: 40px;
    color: rgb(10, 0, 0,0.7);
}
.logo2{
    width:40%;
    height: 10vh;
    margin-left:20px ;
}
.logo3{
    width: 20%;
    height: 10vh;
    margin-left: 30vw;
}
.side-menu{
    display: none;
    margin-top: 30px;
    /* border:2px solid black; */
    width:170px;
    height: 800px;
}
.menu-list{
    display: flex;
    flex-direction: column;
   
}
.list-item1{
    margin-top: 20px;
    margin-left: 5px;
}
.list-item1 a{
    color: black;
    
}
.list-item1 a:hover{
    background-color:silver;
    border-width:200px;
}
.hr3{
    height: 3px;
    background-color: silver;
    margin-top: 70px;
}
.screen-mode1{
    display: flex;
    /* justify-content: space-between; */
    width:35px;
    margin-left: 20px;
    margin-top: 10px;
    width:170px;
   
   
}
.A11{
    
    border:2px solid blue;
    border-radius: 3px;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: lighter;
    font-size: small;
   
   

}
.A21{
   
    border:1px solid blue;
    background-color: blue;
    border-radius: 3px;
    text-align: center;
    padding-left: 4px;
    padding-right: 4px;
    color: white;
    font-size: small;
    margin-left: 5px;

}
.a31{
    margin-top: 30px;
    margin-left: 20px;
    
    justify-content: space-between;
   
}
.english1{
    margin-top: 30px;
    margin-left: 20px;

}
.hr4{
    height: 3px;
    background-color: silver;
    margin-top: 10px;
}

@media(min-width:950px)
{
    .side-menu{
        display: none;
    }
    .header-mob{
        display: none;

    }
    .header-comp{
        display: block;
    }
    
}
@media(max-width:1182px)
{
    .menu-item{
        font-size: 12px;
        
       
      
    }
    .navbar{
        display: flex;
        justify-content: space-between;
        padding: 5px;
        margin-left: -84px;
        width:120%;
        margin-right: 10px;
       
    }
    .drop ul li:hover .dropdrop-down{
        display: block;
        top:20px;
        position: absolute;
        left: 90px;
        margin-left: 40px;
       
        background-color:silver;
    
    }
}
.side-submenu1{
    /* display: none; */
    display: none;
    margin-top: -786px;
    /* border:2px solid black; */
    width:170px;
    height: 800px;
    margin-left: 170px;
    background-color: silver;
}
.side-submenulist{
    display: flex;
    flex-direction: column;
   
}
.sublist-item{
    margin-top: 20px;
    margin-left: 5px;
    font-size: large;
}
.btn{
    background-color: white;
    border: none;
    padding-left: 5px;
}
.side-submenu2{
   
    display:none;
    margin-top: -786px;
    /* border:2px solid black; */
    width:170px;
    height: 800px;
    margin-left: 170px;
    background-color: silver;
}











